/build
.gradle/
.idea/encodings.xml
.idea/gradle.xml
app.iml
app/.gradle/2.14.1/
app/.idea/workspace.xml
app/MovieApp.zip
app/captures/
app/output/
app/src/main/java/com/mal/walid/moviewalid/Functions.java
app/src/main/java/com/mal/walid/moviewalid/SqlLite/MovieProvider.java
build.gradle
gen/
gradle/
gradlew
gradlew.bat
local.properties
proguard-rules.pro
.idea/libraries/
.idea/runConfigurations.xml
MovieAppSqlite.iml
src/
