<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mal.walid.moviewalid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.mal.walid.moviewalid.TERMS_READ" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetailes"
            android:label="@string/title_activity_movie_detailes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".TraillersActivity" />
        <activity android:name=".ReviewActivity"></activity>

        <provider
            android:name=".SqlLite.MovieProvider"
            android:authorities="com.mal.walid.moviewalid"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>